header{
    background-color: #ff0000;
    border-right:solid 1px gainsboro ;
}
h2{
    font-family: 'IBM Plex Mono', monospace;
}
.header{
    display:grid;
    grid-template-columns: 35% 55%;
    justify-content: space-between;
    background-color: aqua;
    height: 800px;
}
.upgrade{
    color: white;
    border: solid 1px white;
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: lightblue;
}
.subscribe{
    margin-top: 5px;
    border: solid 1px white;
    margin-bottom: 10px ;
    margin-left: 5px;
    width: 90%;
    justify-content: space-between;
}
h5{
    padding-left: 2px;
}
.main-section{
    color: black;
    font-family: 'IBM Plex Mono', monospace;
    padding-left: 8px;
    margin-top: 15px;
}